.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.gradient {
  background: linear-gradient(
    301.59deg,
    #ffffff -0.5%,
    rgba(244, 252, 255, 0.81) 10.97%,
    rgba(233, 247, 255, 0.85) 29.8%,
    rgba(203, 234, 255, 0.9566) 63.33%,
    rgba(186, 225, 254, 0.9) 79.69%,
    rgba(180, 222, 254, 0.94) 91.59%,
    rgba(127, 199, 253, 0.80246) 123.57%,
    rgba(122, 196, 253, 0.79) 126.46%
  );
}

.App-footer {
  position: absolute;
  bottom: 0;
  background-color: red;
  width: 100%;
}

.teamBody {
  font-family: "Nunito Sans", sans-serif;

  min-height: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background: linear-gradient(
        116.72deg,
        #ffffff 7.84%,
        rgba(244, 252, 255, 0.81) 16.36%,
        rgba(233, 247, 255, 0.85) 30.36%,
        rgba(203, 234, 255, 0.9566) 55.29%,
        rgba(186, 225, 254, 0.9) 67.46%,
        rgba(180, 222, 254, 0.94) 76.31%,
        rgba(122, 196, 253, 0.79) 102.24%
      )
      fixed,
    rgba(244, 252, 255, 0.4);
  color: #444344;
  display: flex;
  text-align: center;
  flex-direction: column;
  position: relative;
  width: 100%;
}

.teamBody h1 {
  width: 60%;
  margin: auto;
  padding-top: 3vw;
  font-size: 4.875vw;
  font-weight: 900;
  text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

.teamBody h2 {
  font-size: 1.3vw;
  width: 50%;
  margin: auto;
  padding-top: 2vw;
  padding-bottom: 2vw;
}

.carousel-item-padding-40-px {
  padding-left: "5vw";
}

.backgroundGradient {
  background: linear-gradient(
    315.47deg,
    #ffffff 2.69%,
    rgba(244, 252, 255, 0.81) 15.79%,
    rgba(233, 247, 255, 0.85) 37.29%,
    rgba(203, 234, 255, 0.9566) 75.59%,
    rgba(186, 225, 254, 0.9) 94.27%,
    rgba(180, 222, 254, 0.94) 107.86%,
    rgba(122, 196, 253, 0.79) 147.69%
  );
}
