/* TYPOGRAPHY */

.headerFont {
  font-size: 2vw;
  color: "#8EAB3D";
  font-weight: bold;
}

.headerContent {
  font-size: 1.6vw;
  font-weight: bold;
}

.titleFont {
  font-size: 1.4vw;
  font-weight: 600;
}

.titleContent {
  font-size: 1.2vw;
  font-weight: normal;
}

.modalName {
  font-family: "Nunito Sans", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 1.8vw;
  display: flex;
  align-items: center;
  padding-left: 2vw;
  padding-right: 2vw;
}

.modalTitle {
  font-family: "Nunito Sans", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 1.2vw;
  display: flex;
  align-items: center;
  color: #8eab3d;
  padding-left: 2vw;
  padding-right: 2vw;
}

.modalContent {
  font-family: "Nunito Sans", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 1.2vw;
  display: flex;
  align-items: center;
  padding-left: 2vw;
  padding-right: 2vw;
}

.homeHeadingFont {
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: 900;
  font-size: 4vw;
  line-height: 4vw;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  color: #8eab3d;
}

.homeBodyFont {
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 1.9vw;
  display: flex;
  align-items: center;
  color: #444443;
}

.asFeatured {
  font-family: Nunito Sans;
  font-size: 4vw;
  font-style: normal;
  letter-spacing: 0em;
  text-align: center;
}

.whoWeAreTitle {
  font-family: Nunito Sans;
  font-size: 5vw;
  font-style: normal;
  font-weight: 900;
  letter-spacing: 0em;
  text-align: left;
  margin-left: 8vw;
}

.agriTitle {
  font-family: Nunito Sans;
  font-size: 5vw;
  font-style: normal;
  font-weight: 900;
  letter-spacing: 0em;
  text-align: right;
  margin-right: 8vw;
}

.whoWeAreBody {
  font-family: Nunito Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0em;
  text-align: left;
  margin-left: 8vw;
}

.agriBody {
  font-family: Nunito Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0em;
  text-align: right;
  margin-right: 8vw;
}
